
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="text-center">The goodcesi</h1>
<div class="line-title mb-5"></div>
<div class="container">
  <ul class="list-group">
    {% set myVal = 0 %}
    {% for article in articles|sort|reverse %}
      {% if myVal == 3  %}
        {% set break = true %}
      {% else %}
      <li class="list-group-item">
        <h2>{{ article.nom }}</h2>
        <span class="badge badge-warning">Créé le {{ article.dateCreation | date('d/m/Y') }}</span><br>
        <p>Vendu par <strong>{{ article.utilisateur.prenom }} {{ article.utilisateur.nom }}</strong></p>
        <img src="{{ article.image }}">
        <p>{{ article.description }}</p>
        {% if article.isVendu == true %}
              <p class="vendu alert alert-danger">Vendu</p>
        {% endif %}
        <a href="{{ path('article_show', {'id': article.id}) }}"class="btn btn-primary">Voir l'article</a>
      </li>
      {% set myVal = myVal + 1 %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
