{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

  <div class="container">
    <h1 class="text-center">Liste des utilisateurs</h1>
    <div class="line-title"></div>
    {% if is_granted("ROLE_ADMIN") == true %}
    <a href="{{ path('utilisateur_new') }}" class="btn btn-success mb-2 mt-2">Créer un utilisateur</a>
    {% endif %}
    <ul class="list-group">
    {% for utilisateur in utilisateurs %}
    <li class="list-group-item">
      <h2>{{ utilisateur.nom }}</h2>
      <p>{{ utilisateur.email }}</p>
      <p>{{ utilisateur.adresse }}</p>
      <a href="{{ path('utilisateur_show', {'id': utilisateur.id} ) }} "class="btn btn-info">Afficher infos utilisateur</a>
    </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
