{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('utilisateur_new') }}">Créer un utilisateur</a>
    {% for utilisateur in utilisateurs %}
        <h2>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h2>
        <p>{{ utilisateur.email }}</p>
        <p>{{ utilisateur.adresse }}</p>
        <a href="{{ path('utilisateur_show', {'id': utilisateur.id} ) }} ">Afficher infos utilisateur</a>
    {% endfor %}

{% endblock %}
