{% extends 'base.html.twig' %} {% block title %}Profil{% endblock %} {% block body %}


<div class="container">
  <h1 class="text-center">Votre profil</h1>
  <div class="line-title mb-5"></div>
  <ul class="list-group">
    <li class="list-group-item">
      <h2>Bonjour {{app.user.nom}} {{app.user.prenom}}</h2>
      <p>Adresse de facturation
        <br> {{app.user.adresse}}</p>
        <a href="{{ path('current_user_edit', {'id': app.user.id}) }}">Modifier votre profil</a>
    </li>
  </ul>
  <a href="{{ path('article_new') }}"class="btn btn-primary view-article commande create ">Crér un article</a>
  <a href="{{ path('commande_user') }}" class="btn btn-primary view-article commande">Mes commandes</a>

  {% if is_granted("ROLE_ADMIN") == true %}
    <a href="{{ path('commande_list') }}" class="btn btn-primary view-article commande">liste des commandes</a>
  {% endif %}

</div>


{% endblock %}
