{% extends 'base.html.twig' %} {% block title %}Profil{% endblock %} {% block body %}


<div class="container">
  <h1 class="text-center">Votre profil</h1>
  <div class="line-title mb-5"></div>
  <ul class="list-group">
    <li class="list-group-item">
      <h2>Bonjour {{app.user.nom}} {{app.user.prenom}}</h2>
      <p>
        <span class="badge badge-info">Adresse de facturation</span>
        <br> {{app.user.adresse}}</p>
      <a href="{{ path('article_vente') }}" class="btn btn-success view-article commande create ">Vendre un article</a>

      <div class="content-article">
        <a href="{{ path('commande_achat') }}" class="btn btn-primary view-article commande">Mes achats</a>
        <a href="{{ path('commande_vente') }}" class="btn btn-primary view-article commande">Mes ventes</a>
      </div>

      {% if is_granted("ROLE_ADMIN") == true %}
        <a href="{{ path('commande_list') }}" class="btn btn-primary view-article commande">liste des commandes</a>
      {% endif %}
      <a href="{{ path('current_user_edit', {'id': app.user.id}) }}" class="modif-profil ">Modifier votre profil</a>
    </li>
  </ul>
</div>




{% endblock %}
