{% extends 'base.html.twig' %}

{% block title %}Détail de l'utilisateur{{ utilisateur.nom }}!{% endblock %}

{% block body %}

        <h1>{{ utilisateur.nom }} {{ utilisateur.prenom | upper }}</h1>
        <p>{{ utilisateur.adresse }}</p>
        <p>{{ utilisateur.email }}</p>
        <hr>
        <h2>Voici les {{ utilisateur.articles | length }} articles</h2>
        {% for article in utilisateur.articles %} 
                <h3>{{ article.nom }}</h3>
                <img src="{{ article.image }}">
                <strong>{{ article.prix }}</strong>
                <p>{{ article.dateCreation | date('d/m/Y') }}</p>
        {% endfor %}
        <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier l'utilisateur</a>
        <a href="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}">Supprimer</a>

{% endblock %}
