{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}

<h1 class="text-center">Liste des commandes</h1>
<div class="line-title mb-5"></div>

<div class="container">
        <ul class="list-group">
            {% for commande in commandes %}
                <li class="list-group-item">
                    <p>Numéro de commande : <strong>{{ commande.id }}</strong></p>
                    <p>Acheté par <strong>{{ commande.utilisateur.prenom }} {{ commande.utilisateur.nom }}</strong></p>
                    <p>Nom de l'article : <strong>{{ commande.article.nom }}</strong></p>
                    <p>Date d'expédition : 
                        {% if commande.dateExp %}
                            {{ commande.dateExp | date('d/m/Y') }}
                        {% else %}
                            Pas encore expédié
                        {% endif %}
                    </p>
                    {% if commande.isEnvoyer %}
                        <p class="vendu alert alert-info">Expédié</p>
                    {% else %}
                        <p class="vendu alert alert-warning">Validé</p> 
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

</div>



{% endblock %}
