{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>
    
    {% for article in articles %}
    
        <h2>{{ article.nom }}</h2>
        <img src="{{ article.image }}">
        <p>{{ article.description }}</p>        
        <a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
        
    {% endfor %}

{% endblock %}
