{% extends 'base.html.twig' %}

{% block title %}Détails de l'article {{ article.nom }}{% endblock %}

{% block body %}
    
    <h1>{{ article.nom }}</h1>
    <img src="{{ article.image }}">
    <p>{{ article.description }}</p>
    <p>Prix : {{ article.prix }} €</p> 
    <p>Frais de port : {{ article.fraisDePort }} €</p> 
    <p>Poids : {{ article.poids }} kg</p>
    <p>Date de cration : {{ article.dateCreation | date('d/m/Y') }}</p>
    <p>Contacter le vendeur : {{ article.utilisateur.nom | upper }} {{ article.utilisateur.email }}</p>        
    <a href="#">Acheter l'article</a>
    <!--<a href="{# path('article_delete', {'id': article.id}) #}">Supprimer</a>-->
    
{% endblock %}
